= link_to 'Promoted by Third Parties', discussions_url(other_promoted: true)
|
= link_to 'Predicted to Trend', discussions_url(predicted: true)

%small
  %ul
    - @discussions.group_by{ |d| [time_ago_in_words(d[:timestamp]), d[:from], d[:amount]] }.each do |group|
      - key = group.first
      - duration = key.first
      - from = key.second
      - amount = key.last
      %li
        - if @other_promoted == 'true'
          #{duration} ago, #{link_to from, "http://steemit.com/@#{from}"} paid #{amount}
        - else
          #{duration} from now, #{link_to from, "http://steemit.com/@#{from}"} prediction: #{amount} SBD
        - if group.last.size == 1
          - discussion = group.last.last
          \-
          = link_to discussion[:slug], discussion[:url]
        - else
          %ul
            - group.last.each do |discussion|
              %li
                = link_to discussion[:slug], discussion[:url]

- if @other_promoted == 'true'
  See:
  = link_to "How to Find Post Promotions Paid by a Third Party in Ruby", "https://steemit.com/radiator/@inertia/how-to-find-post-promotions-paid-by-a-third-party-in-ruby"
  
- if @predicted == 'true'
  See:
  = link_to "How to Use AI to Find Articles with Ruby", "https://steemit.com/radiator/@inertia/how-to-use-ai-to-find-articles-with-ruby"