= content_for :head, auto_discovery_link_tag(:atom, discussions_url(predicted: 'true', format: :atom))
= content_for :head, auto_discovery_link_tag(:rss, discussions_url(predicted: 'true', format: :rss))

= render partial: 'nav'

.card.border-top-0{style: 'padding-top: 0'}
  .card-block
    .row
      .col-md-12

        %div.float-right
          = form_tag discussions_path, method: :get do
            = hidden_field_tag :predicted, true
            Tag:
            = select_tag 'tag', tags_for_select(@tag)
            = submit_tag 'Query', class: 'btn btn-primary'

        %br
        %br

        .jumbotron
          - if @discussions.any?
            %h4 This is a list of new posts and their predicted payout based on analysis of the current trending posts ...
          - else
            %h4 Unable to do predictions right now.  This might be because there were no posts trending for this tag or no new posts to make a prediction on.

        %small
          %ul
            - @discussions.group_by{ |d| group_pattern(d) }.sort_by{ |d| d.last.last[:timestamp] }.reverse.each do |group|
              - key = group.first
              - duration = key.first
              - from = key.second
              - amount = key.last
              - discussion = group.last.last
              %li
                #{duration} from now, will rise by: #{amount} #{discussion[:symbol]}
                - if group.last.size == 1
                  \-
                  = link_to discussion[:slug], "#{site_prefix}#{discussion[:url]}"
                - else
                  %ul
                    - group.last.each do |discussion|
                      %li
                        = link_to discussion[:slug], "#{site_prefix}#{discussion[:url]}"

        See:
        = link_to "How to Use AI to Find Articles with Ruby", "https://steemit.com/radiator/@inertia/how-to-use-ai-to-find-articles-with-ruby"