= content_for :head, auto_discovery_link_tag(:atom, discussions_url(trending_flagged: 'true', flagged_by: @flagged_by, tag: @tag, format: :atom))
= content_for :head, auto_discovery_link_tag(:rss, discussions_url(trending_flagged: 'true', flagged_by: @flagged_by, tag: @tag, format: :rss))

= render partial: 'nav' unless action_name == 'card'

.card.border-top-0{style: 'padding-top: 0'}
  .card-block
    .row
      .col-md-12

        %div.float-right
          = form_tag discussions_path, method: :get, class: 'form-inline' do
            = hidden_field_tag :trending_flagged, true
            .row
              .form-group
                %label{for: :flagged_by} Flagged By:
                = text_field_tag :flagged_by, @flagged_by, class: 'form-control form-control-sm'
                &nbsp;&nbsp;&nbsp;
              .form-group
                Tag:
                = select_tag 'tag', tags_for_select(@tag)
              .form-group
                = submit_tag 'Query', class: 'btn btn-primary'
        %br
        %br

        .jumbotron
          %h4 These posts have been flagged on trending#{!!@tag ? "/#{@tag}" : ''} ...

        %small
          %ul
            - @discussions.group_by{ |d| group_pattern(d) }.sort_by{ |d| d.first }.reverse.each do |group|
              - key = group.first
              - from_size = key.first
              - from = key.second
              - amount = key.last
              - discussion = group.last.last
              %li
                #{pluralize from_size, 'flag'}:
                %strong= from.map { |f| link_to f, "#{site_prefix}/@#{f}" }.to_sentence.html_safe
                - if group.last.size == 1
                  \-
                  = link_to discussion[:title], "#{site_prefix}#{discussion[:url]}"
                  by
                  = link_to discussion[:author], "#{site_prefix}/@#{discussion[:author]}"
                  %font.reputation= discussion[:author_reputation]
                - else
                  %ul
                    - group.last.each do |discussion|
                      %li
                        = link_to discussion[:title], "#{site_prefix}#{discussion[:url]}"
                        by
                        = link_to discussion[:author], "#{site_prefix}/@#{discussion[:author]}"
                        %font.reputation= discussion[:author_reputation]
