= content_for :head, auto_discovery_link_tag(:atom, discussions_url(trending_flagged: 'true', format: :atom))

= render partial: 'nav'

%hr

.jumbotron
  %h4 These posts have been flagged on trending ...

%small
  %ul
    - @discussions.group_by{ |d| group_pattern(d) }.sort_by{ |d| d.first }.reverse.each do |group|
      - key = group.first
      - from_size = key.first
      - from = key.second
      - amount = key.last
      - discussion = group.last.last
      %li
        #{pluralize from_size, 'flag'} by
        %strong= from.to_sentence.html_safe
        - if group.last.size == 1
          \-
          = link_to discussion[:slug], "#{site_prefix}#{discussion[:url]}"
        - else
          %ul
            - group.last.each do |discussion|
              %li
                = link_to discussion[:slug], "#{site_prefix}#{discussion[:url]}"
