= render partial: 'nav'

%hr

.jumbotron
  %h4 Up to the top 25 posts that have been ignored (muted) on trending ...

%small
  %ul
    - @discussions.group_by{ |d| group_pattern(d) }.each do |group|
      - key = group.first
      - from = key.first
      - amount = key.last
      %li
        - discussion = group.last.last
        ignored by
        %strong= from.to_sentence.html_safe
        - if group.last.size == 1
          \-
          = link_to discussion[:slug], "#{site_prefix}#{discussion[:url]}"
        - else
          %ul
            - group.last.each do |discussion|
              %li
                = link_to discussion[:slug], "#{site_prefix}#{discussion[:url]}"
