= content_for :head, auto_discovery_link_tag(:atom, discussions_url(vote_ready: 'true', max_votes: @max_votes, min_age_in_minutes: @min_age_in_minutes, min_reputation: @min_reputation, tag: @tag, exclude_tags: @exclude_tags, format: :atom))
= content_for :head, auto_discovery_link_tag(:rss, discussions_url(vote_ready: 'true', max_votes: @max_votes, min_age_in_minutes: @min_age_in_minutes, min_reputation: @min_reputation, tag: @tag, exclude_tags: @exclude_tags, format: :rss))

= render partial: 'nav' unless action_name == 'card'

.card.border-top-0{style: 'padding-top: 0'}
  .card-block
    .row
      .col-md-12

        %div.float-right
          = form_tag discussions_path, method: :get, class: 'form-inline' do
            = hidden_field_tag :vote_ready, true
            .row
              .form-group
                %label{for: :max_votes} Maximum Votes:
                = number_field_tag :max_votes, @max_votes, class: 'form-control form-control-sm', style: 'width: 48px'
                &nbsp;&nbsp;&nbsp;
              .form-group
                %label{for: :min_age_in_minutes} Age (in minutes):
                = number_field_tag :min_age_in_minutes, @min_age_in_minutes, class: 'form-control form-control-sm', style: 'width: 48px'
                &nbsp;&nbsp;&nbsp;
              .form-group
                %label{for: :min_reputation} Minimum Reputation:
                = number_field_tag :min_reputation, @min_reputation, class: 'form-control form-control-sm', style: 'width: 48px'
                &nbsp;&nbsp;&nbsp;
              .form-group
                %label{for: :tag} Tag:
                = select_tag :tag, tags_for_select(@tag), class: 'form-control form-control-sm'
                = submit_tag 'Query', class: 'btn btn-primary'

        %br
        %br

        .jumbotron
          %h4 These posts have less than or equal to #{pluralize @max_votes, 'vote'} and are older than #{pluralize @min_age_in_minutes, 'minute'}.

        %small
          %ul
            - @discussions.group_by{ |d| group_pattern(d) }.sort_by{ |d| d.last.last[:timestamp] }.each do |group|
              - key = group.first
              - duration = key.first
              - votes = key.last
              - discussion = group.last.last
              - author = discussion[:slug].split('/').first
              %li
                posted #{duration} ago (#{pluralize votes, 'vote'})
                - if group.last.size == 1
                  \-
                  = link_to discussion[:title], "#{site_prefix}#{discussion[:url]}"
                  by
                  = link_to discussion[:from], "#{site_prefix}/@#{discussion[:from]}"
                  %font.reputation= discussion[:author_reputation]
                - else
                  %ul
                    - group.last.each do |discussion|
                      %li
                        = link_to discussion[:title], "#{site_prefix}#{discussion[:url]}"
                        by
                        = link_to discussion[:from], "#{site_prefix}/@#{discussion[:from]}"
                        %font.reputation= discussion[:author_reputation]

        See:
        =link_to 'How to Find Hidden Gems with Ruby', 'https://steemit.com/radiator/@inertia/how-to-find-hidden-gems-with-ruby'
