= content_for :head do
  %meta{property: 'og:type', content: 'article', data: { reactid: 8}}
  %meta{property: 'og:image:width', content: 952}
  %meta{property: 'og:image:height', content: 354}
  %meta{property: 'og:image', content: ticker_url(@pair, format: :png), data: {reactid: 10}}
  %meta{property: 'twitter:card', content: 'summary_large_image', data: { reactid: 16}}
  %meta{property: 'twitter:image', content: ticker_url(@pair, format: :png), data: {reactid: 20}}

%h1= @pair

%h3 Asks

%ul
  - @ticker["asks"].each do |ask|
    %li
      = ask.first
      = ask.last
    
%hr

%h3 Bids

%ul
  - @ticker["bids"].each do |bid|
    %li
      = bid.first
      = bid.last

= image_tag ticker_url(@pair, format: :png), width: 952, height: 354
