%div.float-right
  = form_tag follows_path, method: :get do
    = select_tag :op, options_for_select([['Followed by:', 'followings'], ['Following:', 'followers'], ['Ignored by:', 'ignores'], ['Ignoring:', 'ignoring']], @op)
    = text_field_tag :account, @account, placeholder: 'User Name'
    = select_tag :activity_after, activity_options_for_select('activity after', params[:activity_after])
    = select_tag :activity_before, activity_options_for_select('activity before', params[:activity_before])
    = submit_tag 'Query', class: 'btn btn-primary'
%br
%hr

  .jumbotron
    %h4
      #{pluralize(@follows.size, 'users')} 
      - if @op == 'followings'
        followed by
        = @account
      - elsif @op == 'followers'
        following
        = @account
      - elsif @op == 'ignores'
        ignored by
        = @account
      - elsif @op == 'ignoring'
        ignoring
        = @account
      - if !!params[:activity_after].presence
        having activity after
        = time_ago_in_words @activity_after
        ago
      - if !!params[:activity_before].presence
        having activity before
        = time_ago_in_words @activity_before
        ago

- if !!@follows
  %small
    %ul
      - @follows.each do |follow|
        %li
          = link_to follow, "#{site_prefix}/@#{follow}"
          \-
          %strong Last Post:
          - if @accounts[follow].last_post == '1970-01-01T00:00:00'
            %i never,
          - else
            = time_ago_in_words Time.parse(@accounts[follow].last_post + 'Z')
            ago,
          %strong Last Vote:
          - if @accounts[follow].last_vote_time == '1970-01-01T00:00:00'
            %i never
          - else
            = time_ago_in_words Time.parse(@accounts[follow].last_vote_time + 'Z')
            ago
          

- if @op == 'followers' || @op == 'followings'
  See:
  = link_to 'How to List All Followers in Ruby', 'https://steemit.com/radiator/@inertia/how-to-list-all-followers-in-ruby'
  
- if @op == 'ignores' || @op == 'ignoring'
  See:
  = link_to 'How to List All Ignores (Mutes) in Ruby', 'https://steemit.com/radiator/@inertia/how-to-list-all-ignores-mutes-in-ruby'