!!!
%html
  %head
    %title Ganymede
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'ganymede.svg', type: 'image/png'
    = favicon_link_tag 'ganymede.svg', rel: 'apple-touch-icon', type: 'image/png'

  %body
    .card
      .card-header
        = image_tag 'ganymede.svg', width: 24, height: 24
        Ganymede by #{link_to '@inertia', 'http://steemit.com/@inertia'}
        .float-right
          = link_to 'Home', root_url, class: 'btn btn-secondary'
          &nbsp;&nbsp;
      .card-block
        .container
          .alert-container
            %flash{'flash-message' => 5000, data: {messages: flash.to_json}}
        %hr
        = yield
      .card-footer
        %small.float-right
          %kbd
            = link_to 'http://creativecommons.org/publicdomain/zero/1.0/', style: 'color: white' do
              = image_tag 'http://i.creativecommons.org/p/zero/1.0/80x15.png'
              &nbsp;
              = Time.now.year
