-# = render partial: 'nav'

.card.border-top-0{style: 'padding-top: 0'}
  .card-block
    .row
      .col-md-12
      
        %table.table-sm.table-striped.table-bordered
          %thead
            %tr
              %th Name
              %th Up
              %th Down
              %th Un
              %th First
              %th Last
          %tbody
            - @accounts.each do |name, votes|
              %tr
                %td= name
                %td= votes.map{ |v| v if v.percent > 0 }.compact.size
                %td= votes.map{ |v| v if v.percent < 0 }.compact.size
                %td= votes.map{ |v| v if v.percent == 0 }.compact.size
                %td
                  = time_ago_in_words Time.parse(votes.first.time + 'Z')
                  ago
                %td
                  = time_ago_in_words Time.parse(votes.last.time + 'Z')
                  ago
